@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Mukta:wght@400;600;700&display=swap');
*{margin: 0;padding: 0;outline: none; box-sizing: border-box; font-family: 'Roboto', sans-serif;font-family: 'Montserrat', sans-serif;}
    body,html {height: 100%;}
    img {
        width: auto;
        height: auto;
        max-width: 100%;
        vertical-align: bottom;
        border-style: none;
        -webkit-perspective: 0;
        perspective: 0;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        visibility: visible;
        backface-visibility: hidden;
    }
    .common_wrap{margin: 0 auto; max-width: 1390px;padding: 0 15px;}
    .clear:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
    .inner{float: left;width: 100%;}
    :root {
        --button-color: #e26a2c;
        --nav-color:rgb(255, 255, 255);
        --heading-color:rgb(255, 255, 255);
        --ancor-color: #ffffff;
      }
main,header,section,footer{float: left;width: 100%;}
a{text-decoration: none;}

/* header section */

.header_section{float: left;width: 100%;position: absolute;}
.header_section .inner{display: flex;align-items: center;position: relative;}
.header_section .inner::before{content: "";position: absolute;width: 100%;height: 1px;left: 0;bottom: 0;background-color: #ffffff;}
.header_logo_wrap{float: left;width: 100%;display: flex;flex-flow: row wrap;justify-content: space-between;align-items: center;z-index: 111;}
.header_logo {float: left;width: 200px;padding: 38px 0 16px 0px;}
.header_logo img{float: left;width: 100%;}
.hamburger{float: right;width: 60px;height: 60px;display: flex; justify-content: center;align-items: center; border: 1px solid #ffffff;border-radius: 50%;}
.hamburger .bar{width: 26px;height: 1px;position: relative;}
.hamburger .bar::after{content: ""; position: absolute; width: 100%;height: 1px;top: -4px;left: 0;background-color: #ffffff;transition: 0.5s ease-in-out;}
.hamburger .bar::before{content: ""; position: absolute; width: 100%;height: 1px;top: 4px;left: 0;background-color: #ffffff;transition: 0.5s ease-in-out;}
.nav_link{width: 100%;height: 0;top: 99px;right: 0px;position: fixed;background: #ca4c11;overflow: hidden;transition: 0.5s ease-in-out;}
.nav_link ul li{list-style: none;padding: 23px 24px}
.nav_link ul li a{color: var(--nav-color);font-weight: 500;}

/* hero section */

.hero_section{background-image: url(../img/hero-bg.png);background-position: center;background-repeat: no-repeat;background-size: cover;}
.hero_content{float: left;max-width: 360px;margin-top: 228px;}
.hero_content h1{font-size: 30px;margin-bottom: 20px;font-weight: 500;color:var(--heading-color);}
.hero_content span{color: #e46343;}
.hero_content p{margin-bottom: 50px;line-height: 26px;color: #ffffff;}
.hero_button{float:left;position: relative;  width: 145px;height: 62px;margin-bottom: 228px;border: 1px solid #fff;border-radius: 50px;overflow: hidden;}
.hero_button::after{content: "";position: absolute; width: 0;height: 100%;top: 0; left: 0; background-color: #ca4c11;transition: 0.5s ease-in-out;}
.hero_button::before{content: "";position: absolute; width: 0;height: 100%;top: 0; right: 0; background-color: #ca4c11;transition: 0.5s ease-in-out;}
.hero_button:hover::after{width: 50%;}
.hero_button:hover::before{width: 50%;}
.hero_button a{display: block;width: 100%;height: 100%;text-align: center;line-height: 62px;font-weight: 500;border-radius: 50px;color: var(--ancor-color);position: relative;z-index: 1;}
    
/* modern ea section */

.classify_section{float: left;width: 100%;margin-top: 70px;}
.classify_section_tittel{float: left;max-width: 317px;margin-bottom: 33px;}
.classify_section_tittel h2{font-size: 30px;}
.classify_section_content{float: right;width: 100%;}
.classify_section_content p{margin-bottom: 30px;line-height: 25px;}


/* directory column section */

.directory-column_section{float: left;width: 100%;}
.directory-column_tittel{float: left;width: 100%;margin-top: 30px;border-bottom: 1px solid #0a0a0a;}
.directory-column_tittel h3{font-weight: 500;font-size: 16px;margin-bottom: 33px;}
/* --- accordion --- */
.accordion{float: left;width: 100%;margin-top: 10px;margin-bottom: 53px;}
.faq{float: left;width: 100%;}
.question{float: left;width: 100%;display: flex;justify-content: space-between;align-items: center;}
.question_img{float: right;width: 40px; }
.question_img img{width: 100%;transition: 0.2s;}
.question h3{float: left; font-weight: 500;font-size: 20px;padding: 50px 0;}
.answer{float: left;width: 100%;max-height:0;transition: max-height 0.6s ease-in-out;overflow:  hidden; margin-bottom: 10px;border-bottom: 1px solid #0a0a0a;}
.answer p{font-weight: 400;font-size: 20px;letter-spacing: 0.122px;line-height: 45px;padding: 40px 0px 16px 3px; color: var(--common_white_color);}

/* modern ea section */

.modern_ea_section{float: left;width: 100%;}
.modern_ea_section_tittel{float: left;max-width: 67%;margin-bottom: 33px;}
.modern_ea_section_tittel h2{font-size: 30px;}
.modern_ea_section_content{float: right;width: 100%;}
.modern_ea_section_content p{margin-bottom: 30px;line-height: 25px;}

/* modern ea section */

.Confidently_section{float: left;width: 100%;}
.Confidently_section_tittel{float: left;max-width: 340px;margin-bottom: 33px;}
.Confidently_section_tittel h2{font-size: 30px;}
.Confidently_section_content_wrap{float:left;width: 100%;display: flex;flex-wrap: wrap;justify-content: center;gap: 16px;}
.Confidently_section_content{float: left;max-width: 672px;margin-bottom: 90px;}
.Confidently_section_figar{float: left;width: 100%;margin-bottom: 20px;}
.Confidently_section_figar img{float: left;width: 100%;}
.indoret{float: left;width: 100%;}
.indoret p{margin-bottom: 25px;}
.indoret h2{margin-bottom: 25px;}

/* align section */

.align_section{float: left;width: 100%;background-color: #0c0725;}
.align_tittel{float: left;max-width: 372px;}
.align_tittel h2{float: left;font-weight: 500;font-size: 34px; color:#ffffff;margin-top: 45px; margin-bottom: 30px;}
.align_tittle_button_wrap{float: left;width: 100%;}
.align_button{float:left;position: relative;  width: 145px;height: 62px;margin-bottom: 45px; border: 1px solid #fff;border-radius: 50px;overflow: hidden;}
.align_button::after{content: "";position: absolute; width: 0;height: 100%;top: 0; left: 0; background-color: #ca4c11;transition: 0.5s ease-in-out;}
.align_button::before{content: "";position: absolute; width: 0;height: 100%;top: 0; right: 0; background-color: #ca4c11;transition: 0.5s ease-in-out;}
.align_button:hover::after{width: 50%;}
.align_button:hover::before{width: 50%;}
.align_button a{display: block;width: 100%;height: 100%;text-align: center;line-height: 62px; color: var(--ancor-color);font-weight: 500;border-radius: 50px;position: relative;z-index: 1;}  
.about_wrap{float: left;width: 100%;}
.about_item{float: left;width: 100%;border-top: 1px solid #ffffff;}
.about_name{float: left;width: 100%;margin-top: 22px;}
.about_name h2{float: left; font-weight: 700;color: #ffffff;}
.about_us{float: left;width: 100%;}
.about_us p{float: left;color: #cecdd3;margin-bottom: 20px;}

/* remain section */

.remain_section{float: left;width: 100%;}
.remain_section_tittel{float: left;max-width: 439px;margin-bottom: 33px;}
.remain_section_tittel p{font-size: 16px;margin-top: 200px;margin-bottom: 35px;}
.remain_button_wrap{float: left;width: 100%;}
.remain_button{float:left; width: 145px;height: 62px;margin-bottom: 45px;background-color: #ca4c11; border-radius: 50px;}
.remain_section_content_wrap{float:left;width: 100%;display: flex;flex-wrap: wrap;justify-content: center;gap: 15px;}
.remain_section_content{float: left;max-width: 443px;margin-bottom: 90px;}
.remain_button a{display: block;width: 100%;height: 100%;text-align: center;line-height: 62px; color: var(--ancor-color);font-weight: 500;border-radius: 50px;position: relative;z-index: 1;}
.remain_section_figar{float: left;width: 100%;margin-bottom: 20px;}
.remain_section_figar img{float: left;width: 100%;}
.indoret{float: left;width: 100%;}
.indoret p{margin-bottom: 25px;}
.indoret h2{margin-bottom: 25px;}

/* footer section */

.footer_section{float: left;width: 100%;background-color: #ffffff;margin-top: 190px;position: relative;}
.footer_section::after{content: "";position: absolute; background:linear-gradient(#ffffff, #e46344);;width: 100%;height: 100px;bottom: 0;left: 0;}
.drearnland_info_wrap{float: left;width: 250px;margin-bottom: 42px;}
.drearnland_info{float: left;width: 100%;}
.drearnland_info h3{font-weight: 700;}
.drearnland_info p{font-weight: 5;}
.footer_logo{float: left;width: 100%;margin-bottom: 60px;}
.contact{float: left;max-width: 725px;}
.footer_end{float: left;width: 100%;margin-bottom: 215px;}
.footer_nav_link{float: left; max-width:405px;}
.footer_nav_wrap{float: left; width:100%;padding-right: 10px; }
.footer_nav_link ul li{ float: left; list-style: none;padding: 20px 16px 0px 0px}
.footer_nav_link ul li a{position: relative;color: #000000;}
.footer_nav_link ul li a::after{content: "";width: 100%;height: 2px;position: absolute; bottom: -2px;left: 0;background-color: #080808;}
.footer_nav_link ul li a::before{content: "/";position: absolute;top:0;right: -10px;color: #d3d3d3;}
.footer_nav_link ul li .none::before{content: "";}
.copy{float: left;width: 100%;margin-top: 25px ;}


@media only screen and (min-width: 415px){
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="submit"],
    input[type="password"],
    select,
    textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}

    .header_logo{float: left;width: 247px;padding: 38px 0 16px 0px;}
    .hero_content {float: left; max-width: 500px; margin-top: 228px;}
    .hero_content h1{font-size: 51px;}


}
@media only screen and (min-width: 768px){
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="submit"],
    input[type="password"],
    select,
    textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}

    /* header section */
    
    .header_logo_wrap{width: 247px;}
    .hamburger{display: none;}
    .nav_link{float: left;width: calc( 100% - 247px);position:static;height: auto;transition: 0s;display: flex; flex-flow: row wrap;justify-content: space-between; align-items: center;background: none;}
    .nav_wrap{width: calc(100% - 145px);padding-right: 10px; display: flex; flex-flow: row wrap; justify-content: flex-end;}
    .nav_link ul li{ float: left; list-style: none;padding: 23px 24px}
    .nav_link ul li a{position: relative;}
    .nav_link ul li a::after{content: "";width: 100%;height: 2px;position: absolute; bottom: -2px;left: 0;background-color: #ffffff;}
    .header_button{float:right;position: relative;  width: 145px;height: 62px;border: 1px solid #fff;border-radius: 50px;overflow: hidden;}
    .header_button::after{content: "";position: absolute; width: 0;height: 100%;top: 0; left: 0; background-color: #ca4c11;transition: 0.5s ease-in-out;}
    .header_button::before{content: "";position: absolute; width: 0;height: 100%;top: 0; right: 0; background-color: #ca4c11;transition: 0.5s ease-in-out;}
    .header_button:hover::after{width: 50%;}
    .header_button:hover::before{width: 50%;}
    .header_button a{display: block;width: 100%;height: 100%;text-align: center;line-height: 62px; color: var(--ancor-color);font-weight: 500;border-radius: 50px;position: relative;z-index: 1;}
    
    /* hero section */

    .hero_content{max-width: 845px;}
    .hero_content p{padding-right: 230px;}
    .hero_content h1 {font-size: 65px;}
    .classify_section_content{float: right;max-width: 345px;margin-bottom: 290px;}
    .question h3{font-size: 29px;}
    .modern_ea_section_content{float: right;width: 375px;margin-bottom: 240px;}
    .align_section .inner{float: left;width: 100%;margin-top: 180px;}
    .align_tittel h2{margin-top: 0;}
    .Confidently_section_content_wrap{float:left;width: 100%;}
    .remain_section_tittel{float: left;margin-right: 40px;margin-top: 259px;}
    .remain_section_tittel{margin-right: 125px;margin-top: 0;}
    .remain_section_content{float: left;max-width: 343px;margin-bottom: 90px;}
    .remain_section_content_wrap{float: left;max-width: 704px;margin-top: 0px;}
} 

@media only screen and (min-width: 992px){
 input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="submit"],
    input[type="password"],
    select,
    textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}

    .nav_wrap{width: calc(100% - 355px);}
    .contact {float: right;max-width: 662px;}
    .copy{float: left;max-width: 300px;}
    .footer_nav_link {float: right;margin-right: 260px;}
    .about_wrap{float: right;width: 570px;margin-bottom: 210px;}
}

